<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
</head>

{% extends 'top.html' %}
<!--
{% import "bootstrap/wtf.html" as wtf %}
-->

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="container">
		<form class="form-signin">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.password) }}
			<button data-bind="click: login" class="btn btn-primary">Log In</button> 
		</form>
	</div>

  <script type="text/javascript">
        function TasksViewModel() {
            var self = this
            self.tasksURI = "http://182.228.22.202:8080/api/v1.0/auth/login";
            self.username = "";
            self.password = "";
            self.tasks = ko.observableArray();

            self.ajax = function(uri, method, data) {
              var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json; charset=utf-8",
                    accept: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: data,
					/*
                    data: JSON.stringify(data),
					*/
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", 
                            self.username + ":" + self.password,
							"token", "");
                    },
                    error: function(jqXHR) {
                        console.log("ajax error#1 " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
           self.login = function(username, password) {
                self.username = username;
                self.password = password;

                self.username = $("#username").val();
                self.password = $("#password").val();;
				//self.payloaddd = {'username':self.username,'password':self.password};
                self.ajax(self.tasksURI, "GET", self.payloaddd).done(function(data) {
/*
                    for (var i = 0 ; i < data.tasks.length ; i++) {
                        self.tasks.push({
                            uri: ko.observable(data.tasks[i].uri),
                            title: ko.observable(data.tasks[i].title),
                            description: ko.observable(data.tasks[i].description),
                            done: ko.observable(data.tasks[i].done)
                        });
                    }
*/
                }).fail(function(jqXHR) {
					console.log("ajax error#2 " + jqXHR.status);
                });
            }
        }
        function LoginViewModel() {
            var self = this;
            self.username = ko.observable();
            self.password = ko.observable();

            self.login = function() {
                tasksViewModel.login(self.username, self.password);
            }
        }

        var tasksViewModel = new TasksViewModel();
        var loginViewModel = new LoginViewModel();

        ko.applyBindings(tasksViewModel, $("#main")[0]);
        ko.applyBindings(loginViewModel, $("#login")[0]);
    </script>
{% endblock %}
